.project-card {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Project Card Hover Effect */
  .project-card:hover {
    transform: scale(1.05);
  }
  
  /* Project Image */
  .project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Project Content */
  .project-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  /* Project Title */
  .project-title {
    font-size: 1.5em;
    /* margin-bottom: 10px; */
    font-weight: bold;
    word-wrap: break-word;
  }
  
  /* Project Description */
  .project-description {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.5;
    word-wrap: break-word;
  }
  
  /* Project Links and Status */
  .project-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .project-link {
    background-color: #f0c040;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .project-link:hover {
    background-color: #e1a030;
  }
  
  .status {
    background-color: #2ecc71;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    color: white;
  }
  