.Resume-section{
    width: 60%;
    height: 2000px;
    background-color: #282828;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.navbar-setting{
    position: absolute;
    top: 0;
    right: 0;
    margin-top:-16px;
}