.Resume-section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 2000px;
    background-color: #282828;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.navbar-setting{
    position: absolute;
    top: 0;
    right: 0;
    margin-top:-16px;
}
/* left */

.left{
    width: 100%;
    margin: 30px 30px 0 30px;
    height: 550px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  }
  
  .card {
    border-radius: 20px;
    width: 450px;
    height: 550px;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    position: absolute;
    right: 200px;
  }
  
  .pic-name-position{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pic-name-position img {
    border-radius: 6px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .pic-name-position p {
    margin: 5px 0;
    font-size: 32px;
  }
  
  .pic-name-position p:nth-child(3){
    background-color: #000000;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: normal;
    color: #e7e5e5;
  }
  
  hr{
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #eeeeee;
  }
  
  .icon{
    background-color: #000000;
    border-radius:5px;
    width: 30px;
    height: 30px;
    padding: 10px 10px;
    color: #ffffff;
  }
  
  .email,.location {
    margin: 10px;
    display: flex;
  }
  
  .email-context, .location-context{
    text-align: start;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: 300;
  }
  
  .social-icon{
    background-color: #000000;
    border-radius: 50%;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}
.right{
padding-left: 30px;
}
.subtitle{
    font-size: 40px;
}