.contact-container {
    color: #fff;
    padding: 50px;
  }
  
  h1, h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  p {
    font-size: 16px;
    color: #ccc;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .call-button, .email-button {
    background-color: #6B7280;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .call-button:hover, .email-button:hover {
    background-color: #444;
  }
  
  .message-form {
    margin-bottom: 30px;

  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2e2e2e;
    border: 1px solid #444;
    color: #fff;
    border-radius: 5px;
    outline: none;
  }
  
  .message-field {
    width: 100%;
    padding: 10px;
    height: 100px;
    margin: 10px 0;
    background-color: #2e2e2e;
    border: 1px solid #444;
    outline: none;
    color: #fff;
    border-radius: 5px;
    resize: vertical;
  }
  
  .send-button {
    width: 100%;
    padding: 10px;
    background-color: #6B7280;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #555;
  }
  
  .subscribe-section {
    text-align: center;
  }
  
  .subscribe-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .subscribe-button {
    background-color: #444;
    border: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subscribe-button:hover {
    background-color: #555;
  }
  