.title{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;

}
.projects-container {
    background-color: #ff0000;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  
  .menu {
    display: flex;
    /* justify-content: center; */
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .menu li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .menu li:hover {
    background-color: #ddd;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .project {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
    text-align: center;
  }
  
  .project:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-image {
    width: 250px;
    height: 250px;
    /* height: auto; */
    border-radius: 0.5rem;
  }
  