*{
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.home{
    width: 50%;
    margin: 0px auto;
}

.heading{
    font-size: 80px;
    font-weight: 500;
    padding: 20px 0;
}
.heading-line{
    font-size: 1.2rem;
    opacity: .75;
    line-height: 150%;
}
.heading-line span{
  border-bottom: 2px solid black;
}
.batch-card{
    width:20%;
    height: 100px;
    display: flex;
    background-color: brown;
    padding: 10px 20px;
}

.pin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #ffffff; /* Slightly off-white background */
    border-radius: 50px;
    padding: 5px 12px; /* Adjust for inner spacing */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: fit-content;
    border: 1px solid #e0e0e0; /* Light border */
  }
  
  .pin-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .icon-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid #ddd; /* Optional: thin border around image */
  }
  
  .icon-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  
  .arrow-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    overflow: hidden;
    margin-right: 25px;
  }
  .arrow-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pin:hover {
    background-color: #f1f1f1; /* Slight hover effect */
  }
  

  .projects-grid {
    display: grid;
    gap: 2rem;
    padding: 2rem;
  }
  
  /* Responsive grid layout */
  @media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .projects-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .project-card{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin: 75px auto;
  }


  .projectTitleOverview{
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
  }