*{
    margin: 0;
    padding: 0;
}
.home{
    width: 50%;
    margin: 2rem auto;
}
.heading{
    font-size: 80px;
    font-weight: 500;
    margin: 20px 0;
}
.heading-line{
    font-size: 1.3rem;
    opacity: .75;
    line-height: 150%;
}
.batch-card{
    width:20%;
    height: 100px;
    display: flex;
    /* justify-content: space-evenly; */
    background-color: brown;
    padding: 10px 20px;
}

.pin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #f9f9f9; /* Slightly off-white background */
    border-radius: 50px;
    padding: 5px 12px; /* Adjust for inner spacing */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: fit-content;
    border: 1px solid #e0e0e0; /* Light border */
  }
  
  .pin-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .icon-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid #ddd; /* Optional: thin border around image */
  }
  
  .icon-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  
  .arrow-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    overflow: hidden;
    margin-right: 25px;
  }
  .arrow-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pin:hover {
    background-color: #f1f1f1; /* Slight hover effect */
  }
  .newsletter-container {
    background: linear-gradient(135deg, #f6f6f6, #fff);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  .newsletter-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }
  
  .newsletter-container p {
    color: #555;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .email-input {
    width: 60%;
    padding: 12px 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .email-input:focus {
    border-color: #000;
  }
  
  .signup-button {
    padding: 12px 30px;
    margin-left: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #333;
  }
  