.home {
    color: #fff;
    padding: 50px;
    border-radius: 8px;
    max-width: 90%;
    margin: auto;
  }
h1 span{
    color: #6B7280;
}
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .sub-heading {
    font-size: 1.5rem;
    color: #ccc;
  }
  
  .highlight {
    color: #696969; /* Soft blue to highlight the word "Build" */
    font-weight: bold;
  }
  
  .description {
    font-size: 1.1rem;
    margin: 15px 0;
    line-height: 1.6;
  }
  
  a {
    color: #696969; /* Matching link color */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .contact-btn {
    background-color: #696969;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  .contact-btn:hover {
    background-color: #696969;
  }
  
  .email-link {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: underline;
  }
  