.left-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    position: fixed; /* Make the card fixed */
    
  }
.profile-card {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .contact-info {
    margin-top: 10px;
  }
  
  .social-links a {
    display: block;
    margin: 5px 0;
    color: #ffffff;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
   