
 @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19181A;
    color: white;
    width:90% ; 
    height:100px ;
    margin-top: 24px;
    padding: 5px 0;
    border-radius:16px ;
}
.navbar .logo-name span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:40px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    color: white;
    padding-left: 50px;
}
.navbar .navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-nav li{
    font-size: 20px;
    color: white;
    font-family: "Rubik", sans-serif;
    list-style: none;
    text-decoration: none;
    margin:0 15px;
}
.theme-toggle .dark{
    width:48px;
    margin-right: 50px;
}