/* / */

.navbar{
    background-color: #1e1e1e;
    width:500px;
    height: 100px;
    margin-top:0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 32px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

ul{
   padding-top: 42px;
    display: flex;
    justify-content: space-evenly;
}
li {list-style: none;}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
ul li .active a{
    border-bottom: 3px solid rgb(255, 0, 0);
}