/* Sidebar Container */
.sidebar {
    width: 250px;
    color: #ffffff;
    background-color: #363636; 
    padding: 0 20px 10px 10px; 

}


.h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #fff;
    cursor: pointer;
}


.tag {
    color: #999;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 15px 0;
}
.sidebar li svg {
    margin-right: 8px;
    font-size: 12px;
}
ul li a {

    text-decoration: none;
    font-size: 1rem;
    color: #bbb;
    padding: 5px;
    display: block;
    transition: background 0.1s, color 0.1s;
    border-radius: 5px;
}

ul li a:hover, ul li a.active {
    background-color: #000000;
    color: #fff;
    text-decoration: none;
}


.socialmedia {
    margin-top: 30px;
}

.socialmedia h3 {
    color: #bbb;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.socialmedia-list a {
    display: flex;
    align-items: center;
    color: #bbb;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.socialmedia-list a:hover {
    color: #6B7280; 
    text-decoration: none;
}

.socialmedia-list a svg {
    margin-right: 8px;
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .h2 {
        font-size: 1.5rem;
    }

    ul li a {
        font-size: 1rem;
    }

    .socialmedia-list a {
        font-size: 0.9rem;
    }
}