.footer{
    width: 90%;
    margin: 10px auto;
    border-top:1px solid #797979;
    padding: 15px 0;
}
.footer p{
    font-size: 24px;
    text-align: center;
}

@media (max-width:600px){
    .footer{
     display: block;
     text-align: center;
    }
   .footer ul li{
    margin: 10px;
   }
   .footer ul{
    margin-top: 10px;
   }
}