  body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    margin: 0;
    position: relative;
  } 
  .App{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  /* .App :nth-child(){
     position: fixed;
  } */